﻿<%@ Page Title="" Language="VB" MasterPageFile="~/PropertyMaintChildMaster.master" AutoEventWireup="false" CodeFile="MaintenanceRequest.aspx.vb" Inherits="MaintenanceRequest" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ChildContentPlaceHolder1" Runat="Server">
    <asp:Label ID="Label1" runat="server" Text="Maintenance Request" Font-Size="XX-Large"></asp:Label>
</asp:Content>

